
html {
  font-family: "Avenir", sans-serif;
  max-width: 2065px;
}

body {
  width: 2065px;
}

@media only screen and (max-width: 760px) {
  body {
    overflow-x: hidden;

}
}

header {
  border-bottom: solid 1px #c6c1c1;
  height: 86px;
}

header .logo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 24px;
}

.logo img {
  font-size: 30px;
  align-self: center;
  margin-left: 64px;
  height: 48px;
  width: 24px;
  color: #0000FF;
}

h1 {
  font-weight: bold;
}


#blue {
  color: #0000FF;
  height: 32px;
  width: 85.3px;
}

#silver {
  color: silver;
  height: 32px;
  width: 96px;
}

.logo nav {
  width: 100%;
  padding-right: 16px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

ul li {
  float: right;
}

a {
  margin: 24px;
  vertical-align: bottom;
  text-align: right;
  font-size: 32px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  .logo img, h1 {
    display: none;
  }
  header .desktop {
      display: none;
    }
    header .mobile {
    display: block;
    width: 30%;
    padding-bottom: 32px;
  }
  .logo .mobile {
    width: 100%;
    padding-bottom: 24px;
    height: 50px;
  }
  .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 0px;
    padding-bottom: 48px;
  }

  .mobile ul img {
    height: 64px;
    margin-left: 0px;
  }
  }

.intro {
  background-color: silver;
  padding: 32px 24px;
}

.learn {
  background-color: silver;
  display: flex;
  padding-top: 32px;
}

.learn .learnpic {
  width: 56%;
  margin: 0px 24px 32px 8px;
  display: flex;
  flex-direction: column;
  background-color: silver;
}

.learnpic img {
  margin-left: 16px;
}

.learnright {
  width: 40%;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 165px 70px;
}

h2 {
  font-size: 75px;
  font-weight: bold;
  color: #2F363D;
}

h3 {
  margin-top: 45px;
  font-size: 38px;
  line-height: 55px;
  color: #2F363D;
  font-weight: bold;
}

.learnright .learnbutton {
  margin-top: 56px;
  padding-top: 8px;
  flex-direction: column;
  padding-bottom: 8px;
  background-color: #2F363D;
  width: 80%;
  display: flex;
  align-items: center;
}

.learnbutton a {
  color: white;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  .intro {
    padding: 0px;
  }
  .learn {
    padding-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .learn .learnpic {
    width: 100%;
    margin: 0px;
  }
  .learnpic img {
    width: 675px;
    height: 380px;
    margin-left: 0px;
  }
  .learnright {
      width: 40%;
      display: flex;
      flex-direction: column;
      padding: 30px 35px;
      font-weight: bolder;
    }
    h2 {
      font-size: 60px;
      font-weight: bold;
      color: #2F363D;
      line-height: 75px;
    }
    .learnright .learnbutton {
      margin-top: 56px;
      margin-bottom: 32px;
      padding-top: 8px;
      flex-direction: column;
      padding-bottom: 8px;
      background-color: #2F363D;
      width: 70%;
      display: flex;
      align-items: center;
    }
}
}

.info {
  background-color: #F8F8FF;
  padding: 0px 24px;
}

.info .practice {
  background-color: #F8F8FF;
  display: flex;
}

.practice .practicepic {
  background-color: #F8F8FF;
  width: 54.5%;
  margin-top: 32px;
  margin-left: 48px;
  border-right: silver;
  padding-top: 32px;
  padding-right: 24px;
}

.practicepic img {
  width: 100%;
}

.practicepic h2 {
  margin-bottom: 48px;
  margin-top: 64px;
  font-size: 60px;
  font-weight: bold;
}

.practicepic h4 {
  font-size: 28px;
  color: grey;
  line-height: 35px;
}

.practicepic h5 {
  font-size: 24px;
  color: #2F363D;
  padding: 32px 0px;
  margin-bottom: 32px;
}

.info .inforight {
  width: 40%;
  margin-left: 24px;
  padding: 32px 0px;
  border-left: 1px solid silver;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
}

.inforight .infoitem {
  display: flex;
  width: 100%;
  padding-right: 0px;
  border-bottom: 1px solid silver;
}

.infoitem .infopic {
  width: 35%;
  height: auto;
  margin: 32px 32px;
}

.infopic img {
  border: 1px solid silver;
  height: auto;
}

.infoitem .infotxt {
  width: 65%;
  margin-top: 50px;
}

.infotxt h3 {
  margin-bottom: 8px;
  margin-top: 20px;
}

h4 {
  font-size: 28px;
  color: grey;
  margin-bottom: 16px;
  line-height: 40px;
}

.infotxt span {
  display: inline-block;
  margin-left: 0px;
}

.infotxt a {
  font-size: 28px;
  color: lightblue;
  margin-left: 0px;
}

.inforight .guest {
  display: flex;
  width: 100%;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  background-color: silver;
}

.guest .infopic {
  width: 35%;
  height: auto;
  margin: 32px 32px;
}

.guestxt {
  line-height: 32px;
  padding-top: 50px;
}

.guestxt h3 {
  margin-bottom: 8px;
  margin-top: 20px;
}

.guestxt h4 {
  margin-bottom: 16px;
}

.guestxt a {
  font-size: 28px;
  color: lightblue;
  margin-left: auto;
}

@media only screen and (max-width: 760px) {
  .info {
    background-color: #F8F8FF;
    padding: 0px;
  }
  .practicepic {
    display: none;
  }
  .info .inforight {
    padding: 0px;
    border-left: 0px solid silver;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .inforight .infoitem {
    display: flex;
    padding-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    flex-direction: column;
  }

  .infoitem .infopic {
    width: 25%;
    margin-left: 8px;
  }

  .infopic .desktop {
    display: none;
  }

.infopic .mobile {
  display: flex;
  width: 2400px;
}

  .infopic .mobile img {
    width: 25%;
  }

  .infoitem .infotxt {
    margin-top: 0px;
    margin-left: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .infotxt h3 {
    margin-bottom: 4px;
    margin-top: 0px;
  }

  h4 {
    font-size: 28px;
    color: grey;
    margin-bottom: 14px;
    line-height: 40px;
  }

  .infotxt a {
    font-size: 28px;
    color: lightblue;
    margin-left: auto;
    margin-bottom: 55px;
  }
  .infopic img {
    border: none;
    height: auto;
  }
  .inforight .guest {
    display: flex;
    padding-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    flex-direction: column;
    background-color: white;
  }
  .guest .infopic {
    width: 100%;
    margin-left: 8px;
    margin-bottom: none;
  }
  .infopic .desktop {
    display: none;
  }

  .infopic .mobile {
  }

  .mobile img {
    margin-bottom: none;
  }

  .guestxt {
    margin-top: 0px;
    margin-left: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    padding-top: 0px;
    width: 60%;
  }

  .guestxt h3 {
    margin-bottom: 4px;
    margin-top: 0px;
  }

  .guestxt h4 {
    margin-bottom: 24px;
  }

  .guestxt a {
    font-size: 28px;
    color: lightblue;
    margin-left: auto;
    margin-bottom: 32px;
  }
}

.learning {
  padding-top: 32px;
  padding-bottom: 120px;
  background-color: silver;
  font-weight: bold;
}

.learning .start {
  text-align: center;
}

.start h2 {
  margin-top: 56px;
  margin-bottom: 80px;
  margin-right: 8px;
  font-size: 56px;
}

.learning .main {
  margin-top: 32px;
  display: flex;
  width: 60%;
  padding-left: 184px;
}

.main .mainitem {
}

.mainitem .mainpic {
  height: auto;
  margin-right: 40px;
}

.mainitem .maintxt {
  line-height: 8px;
  padding-top: 4px;
  padding-bottom: 42px;
  background-color: white;
  height: 250px;
  margin-right: 40px;
  padding-left: 40px;
  margin-bottom: 0px;
}

.maintxt h3 {
  margin-top: 24px;
}

.maintxt h4 {
  margin-top: 12px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 29px;
}

@media only screen and (max-width: 760px) {

.learning {
  padding-top: 32px;
  padding-left: 0px;
  padding-bottom: 8px;
  background-color: #F8F8FF;
  font-weight: bold;
  margin-top: 48px;
  border-top: solid 0.5px #c6c1c1;
}

.learning .start {
  text-align: left;
}

.start h2 {
  margin-top: 24px;
  margin-left: 150px;
  margin-bottom: 40px;
  margin-right: 8px;
  font-size: 56px;
}

.learning .main {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 40px;
}

.main .mainitem {
}

.mainitem .mainpic {
  height: auto;
  margin-right: 40px;
}

.mainpic img {
  display: none;
}

.mainitem .maintxt {
  line-height: 8px;
  padding-top: 4px;
  background-color: silver;
  height: 80px;
  margin-bottom: 16px;
  width: 550px;
}

.maintxt h3 {
  margin-top: 32px;
  margin-bottom: 40px;
}

.maintxt h4 {
  display: none;
}
}

.thesis {
  padding-top: 96px;
  width: 100%;
  margin-bottom: 24px;
  height: 1175px;
  background-color: white;
}

.thesis h2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 0px;
}

.thesis .exhibit {
  display: flex;
  width: 100%;
  height: 1035px;
}

.thesis .exhibita {
  padding-top: 0px;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  width: 70%;
  background-color: silver;
  margin-left: 48px;
  margin-top: 80px;
  border: solid 4px #c6c1c1;
}

.exhibita .exhibitavid {
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
  height: 75%;
}

.exhibitavid video source {
  height: 100%;
  margin-left: 0px;
}

.exhibita .exhibitxt {
  padding-top: 24px;
}

.exhibitxt h3 {
  margin-bottom: 8px;
}

.thesis .exhibitb {
  width: 55%;
  background-color: silver;
  margin-left: 40px;
  margin-right: 0px;
  margin-top: 80px;
}

.exhibitb .fisma {
  display: flex;
}

.fisma .exhibitbpic {
  margin: 32px;
  width: 35%;
  height: auto;
}

.fisma .fismatxt {
  margin: 26px 16px;
  width: 65%;
}

.fismatxt h3 {
    line-height: 50px;
    margin-bottom: 18px;
}

.fismatxt h4 {
  line-height: 40px;
}

.exhibitb .nowthen {
  display: flex;
  padding: 32px 24px;
  height: 575px;
  background-color: white;
}

.nowthen .exhibitbpic {
}

.nowthen .ntxt {
  margin-left: 56px;
  margin-top: 40px;
}

.ntxt h3 {
  margin-bottom: 8px;
}

.thesis .urban {
}

@media only screen and (max-width: 760px) {
  .thesis {
   padding-top: 32px;
   padding-left: 0px;
   padding-bottom: 120px;
   background-color: #F8F8FF;
   font-weight: bold;
   margin-top: 48px;
   border-top: solid 0.5px #c6c1c1;
   height: 470px;
 }

 .thesis h2 {
   text-align: left;
   font-size: 60px;
   margin-bottom: 0px;
   margin-top: 25px;
   margin-left: 125px;
 }

 .thesis .exhibit {
   display: flex;
   width: 66%;
   height: 450px;
 }

 .thesis .exhibita {
   padding-top: 0px;
   display: flex;
   justify-content: flex-start;
   width: 55%;
   background-color: silver;
   margin-left: 0px;
   margin-top: 56px;
   border: solid 4px #c6c1c1;
   height: 100%;
 }

 .exhibita .exhibitavid {
   width: 100%;
   height: 100%;
   margin-top: 0px;
 }

 .exhibitavid video {
   height: 100%;
   width: 100%;
 }

 .exhibita .exhibitxt {
   padding-top: 24px;
 }

 .exhibitxt h3 {
   margin-bottom: 8px;
 }

 .thesis .exhibitb {
   width: 55%;
   background-color: silver;
   margin-left: 40px;
   margin-right: 0px;
   margin-top: 80px;
 }

 .exhibitb .fisma {
   display: flex;
 }

 .fisma .exhibitbpic {
   margin: 32px;
   width: 35%;
   height: auto;
 }

 .fisma .fismatxt {
   margin: 26px 16px;
   width: 65%;
 }

 .fismatxt h3 {
     line-height: 50px;
     margin-bottom: 18px;
 }

 .fismatxt h4 {
   line-height: 40px;
 }

 .exhibitb .nowthen {
   display: flex;
   padding: 32px 24px;
   height: 350px;
   background-color: white;
 }

 .nowthen .exhibitbpic {
 }

 .nowthen .ntxt {
   margin-left: 56px;
   margin-top: 40px;
 }

 .ntxt h3 {
   margin-bottom: 8px;
 }

 .thesis .urban {
 }
}


.exhibitatxt {
  margin-top: 24px;
  width: 55%;
  margin-bottom: 24px;
}

.exhibitatxt h3 {
  margin-left: 56px;
  margin-bottom: 16px;
}

.exhibitatxt h4 {
  line-height: 40px;
  margin-left: 56px;
  margin-bottom: 64px;
}

@media only screen and (max-width: 760px) {
  .exhibitatxt {
    display: none;
  }

  .exhibitatxt h3 {
    margin-bottom: 16px;
  }

  .exhibitatxt h4 {
    line-height: 40px;
  }
}


footer {
  padding-top: 16px;
  width: 100%;
  border-top: solid 2px #c6c1c1;
}

footer .footer {
  display: flex;
  width: 100%;
}

.footer h5 {
  font-size: 24px;
  color: grey;
  margin-left: 56px;
  margin-top: 24px;
  margin-bottom: 100px;
}

.footer span {
  display: flex;
  justify-content: flex-end;
  margin-left: 550px;
}

.footer span a {
  display: inline-block;
  float: right;
  font-size: 24px;
  margin-right: 16px;
  color: grey;
  line-height: 25px;
}

@media only screen and (max-width: 760px) {
  footer {
    padding-top: 16px;
    padding-left: 24px;
  }

  footer .footer {
    display: flex;
    margin-bottom: 0px;
  }

  .footer h5 {
    font-size: 24px;
    color: grey;
    line-height: 25px;
    margin-top: 72px;
    margin-bottom: 200px;
    margin-left: 32px;
  }

   .footer span a {
     display: none;
  }
}
